{{#extends 'base'}}

{{#block "content"}}

<div>
    <a href="/admin/orders"" class="mt-3 mb-3 btn btn-dark btn-sm"> Go Back </a>
</div>

<h4>Are you sure you want to update this order? order id: <span style="color:gray;">{{orders.[0].order_id}}</span></h4>
<h4>This order belongs to: user id: <span style="color:gray;">{{orders.[0].user_id}} </span></h4>
<form method="POST">
    <input type="hidden" name="_csrf" value="{{csrfToken}}"/>

<table class="table">
    <thead>
        <tr style="text-align:center">
            <th>Order ID</th>
            <th>Cart ID</th>
            <th>User ID</th>
            <th>Product ID</th>
            <th>Product Name</th>
            <th>Seller User ID</th>
            <th>Price</th>
            <th>Quantity</th>                        
            <th>Date Time</th>
            <th>Order Fulfilled</th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {{#each orders}}
            <tr style="text-align:center;">
                <td style="padding-top:12px;">{{this.order_id}}</td>
                <td style="padding-top:12px;">{{this.cart_id}}</td>
                <td style="padding-top:12px;">{{this.user_id}}</td>
                <td style="padding-top:12px;">{{this.product_id}}</td>
                <td style="padding-top:12px;">{{this.product_name}}</td>
                <td style="padding-top:12px;">{{this.seller_id}}</td>
                <td style="padding-top:12px;">{{this.price}}</td>
                <td style="padding-top:12px;">{{this.quantity}}</td>
                <td style="padding-top:12px;">{{this.date_time}}</td>
                <td style="padding-top:12px;">{{this.fulfilled}}</td>
                <td>
                    <input type="number" value="{{this.quantity}}" id="newQuantity">
                    <a href="/admin/orders/update-quantity/?orderId={{this.order_id}}&productId={{this.product_id}}&newQuantity={{this.quantity}}" class="btn btn-light btn-sm"> Update Qty </a>
                </td>
                <td>
                    <a href="/admin/orders/update-status/?orderId={{this.order_id}}&productId={{this.product_id}}&updatedStatus={{this.fulfilled}}" class="btn btn-light btn-sm"> Update Fulfilment </a>
                </td>
                <td>
                    <a href="/admin/orders/delete-item/?orderId={{this.order_id}}&productId={{this.product_id}}" class="btn btn-dark btn-sm"> Delete Item </a>
                </td>
            </tr>
        {{/each}}
    </tbody>
</table>
    <div class="alert alert-secondary">
        <a href="/admin/orders" class="ml-2 me-4 btn btn-secondary btn-sm"> Go Back </a>
    </div>
</form>
{{/block}}
{{#block 'js'}}
    <script>
        
    </script>
{{/block}}
{{/extends}}